<html>
  <head></head>
  <body>
    <p>
      <%= message %>
    </p>
    <form>
  		<input type='text' name='guess' placeholder="insert a number!" />
  		<input type='submit' value='Guess?' />
		</form>
  </body>
</html>
